
@{
    ViewBag.Title = "About";
}



    
    <!-- Page Header -->
    <!-- Set your background image for this header on the line below. -->
    <header class="intro-header" style="background-image: url('../../img/about-bg.jpg')">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                    <div class="page-heading">
                        <h1>About Me</h1>
                        <hr class="small">
                        <span class="subheading">This is what I do.</span>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <!-- Main Content -->
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                <p>
                    Hello there, my name is Mack. I am a budding software developer, currently enrolled at Manitoba Institute of Trades & Technology. 
                </p>
                <p>
                    We are nearing the end of the program, and this blog is my most recent project. I will be recording my progress weekly through this blog. I hope you enjoy!
                </p>
                <p>

                </p>
            </div>
        </div>
    </div>
    <hr>
    <!-- Footer -->
    <footer>
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                    <ul class="list-inline text-center">
                        <li>
                            <a href="https://www.facebook.com">
                                <span class="fa-stack fa-lg">
                                    <i class="fab fa-facebook-f"></i>
                                </span>
                            </a>
                        </li>
                        <li>
                            <a href="https://www.linkedin.com/in/mackenzie-hatcher-37413316a/">
                                <span class="fa-stack fa-lg">
                                    <i class="fab fa-linkedin-in"></i>
                                </span>
                            </a>
                        </li>
                        <li>
                            <a href="https://github.com/MackHatcher">
                                <span class="fa-stack fa-lg">
                                    <i class="fab fa-github"></i>
                                </span>
                            </a>
                        </li>
                    </ul>
                    <p class="copyright text-muted">Copyright &copy; Your Website 2016</p>
                </div>
            </div>
        </div>
    </footer>
    <!-- jQuery -->


